@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EMEP-Servicios para Administración de Clinicas</h1>
    <p class="lead">De la mano de los profecionales</p>
    <p><a href="#" class="btn btn-primary btn-lg">Información Adicional &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Administradores</h2>
        <p>
            Sistema para Administradores 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Medicos Profecioles</h2>
        <p>Sistemas para Medicos.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Asegurados Directos</h2>
        <p>Asegurado directo y familiares.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>