
@{
    ViewBag.Title = "IndexPa";
    Layout = "~/Views/Shared/_LayoutPa.cshtml";
}

<div class="jumbotron">
    <h1>PACIENTES</h1>
    
</div>

<div class="row">
    <div class="col-md-4">

        <img src="~/img/educacion-para-la-salud.gif" width="1100"/>
    </div>
</div>
