@{
    ViewBag.Title = "Home Administrador";
    Layout = "~/Views/Shared/_LayoutAD.cshtml";
}
<div class="jumbotron">
    <h1>ADMINISTRADOR</h1>
    
</div>

<div class="row">
    <div class="col-md-4" >

        <img src="~/img/hospi.jpg"  width="1100"/>
    </div>
</div>
