
@{
    ViewBag.Title = "IndexMed";
    Layout = "~/Views/Shared/_LayoutMED.cshtml";
}
<div class="jumbotron">
    <h1>MEDICOS</h1>
    <
</div>

<div class="row">
    <div class="col-md-4" >

        <img src="~/img/medico.jpg" width="1100"/>
    </div>
</div>
